imports:
  - { resource: services.yml }

parameters:
  teamspeak.username: username
  teamspeak.password: password
  teamspeak.host: 127.0.0.1
  teamspeak.server_port: 9987
  teamspeak.query_port: 10011

  afk_kick.base_channel: 202
  afk_kick.user_count: 60
  afk_kick.excludes: []
  afk_kick.idle_mins: 30
  afk_kick.protected_groups: [2,3,23,24]
  shuffle.base_channel: 1350
  shuffle.excludes: []
  remove_idle.base_channels: [1350]
  remove_idle.excludes: [6039, 196, 1350]
  remove_idle.idle_mins: 30
